[submodule ".yadm-private"]
	path = .yadm-private
	url = git@github.com:ptolemarch/dotfiles-private.git
[submodule ".vim/bundle/mojo.vim"]
	path = .vim/bundle/mojo.vim
	url = git@github.com:yko/mojo.vim.git
[submodule ".rakudobrew"]
	path = .rakudobrew
	url = git@github.com:tadzik/rakudobrew.git
[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
