# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~

/*
!/.*

# my liferaft of configs
ptolemarch/

# these are handled through YADM's encyryption
.ssh/
.gnupg/
.pgpass

# X11
.xsession-errors
.xsession-errors.old
.Xauthority
.ICEauthority

# vim temporary and state files
*~
.*.sw?
.viminfo
.viminfo.tmp
.vim/.netrwhist

# histories
.history
.bash_history
.psql_history
.units_history
.bash/history
.lesshst
.rlwrap/

# caches and logs and sessions and such
.compiz/
.gconf/
.java/
.lastpass/
.oracle_jre_usage/
.local/
.mozilla/
.cache/
.nv/
# it'd be nice to include .minecraft/options.txt
.minecraft/

# JavaScript build stuff
.yarnrc
.npm/
