# This is the excludesfile for the YADM repo *only*
# global excludesfile is Git's default of ~/.config/git/ignore

# to start with: ignore everything, but not dotfiles
/*
!/.*

# but include ~/bin (as a submodule)
!/bin

# also include ~/Code/Hesitations (as a submodule)
!/Code/
/Code/*
!/Code/Hesitations

# ignore YADM's git repo or things might get a bit iffy real quick
/.config/yadm/repo.git/

# my liferaft of configs
/ptolemarch/

# these are handled through YADM's encyryption
/.ssh/
/.gnupg/
/.pgpass

# MacOS
/.Trash/
/.bash_sessions/
/.DS_Store
/.CFUserTextEncoding

# X11
/.xsession-errors
/.xsession-errors.old
/.Xauthority
/.ICEauthority

# Bash
/.history
/.bash_history
/.bash/history

# Zsh
/.zsh/history
/.zsh/.zcompdump

# Fish
/.local/share/fish/fish_history
/.local/share/fish/generated_completions/

# Raku
# I don't currently see a way of including Rakubrew as a submodule
# (though there may be a good way to install it during bootstrap)
/.raku/rakubrew/

# Perl
/.perl5/minicpan/
/.perl5/cpanm/

# JavaScript build stuff
/.yarnrc
/.npm/

# vim temporary and state files
*~
.sw?
.*.sw?
/.viminfo
/.viminfo.tmp
/.vim/.netrwhist

# histories
/.psql_history
/.units_history
/.lesshst
/.rlwrap/
/.ghc/ghci_history

# these both seem to mix configuration with logs, cache, etc.,
#  so don't ignore the whole things
#.local/
#.config/

# caches and logs and sessions and such
/.compiz/
/.gconf/
/.java/
/.lastpass/
/.oracle_jre_usage/
/.mozilla/
/.cache/
/.nv/
# it'd be nice to include .minecraft/options.txt
/.minecraft/
/.wget-hsts
/.fonts/.uuid

# proper configs, but not those that should be in version control
/.cups/lpoptions

# work (Perceptyx)
/.gitlab-token-devserver
