[user]
	name = David Hand
	email = davidhand@davidhand.com
[core]
	excludesfile = ~/.gitignore
[color]
	ui = auto
	branch = auto
	diff = auto
	grep = auto
	interactive = auto
	showbranch = auto
	status = auto
[push]
	default = current
[alias]
	ustatus = status --untracked-files=normal
	unstage = reset --
	release = ! git tag release-`date +%Y%m%d%H%M` && git push --tags
