[submodule ".yadm-private"]
	path = .yadm-private
	url = git@github.com:ptolemarch/dotfiles-private.git
[submodule ".vim/bundle/mojo.vim"]
	path = .vim/bundle/mojo.vim
	url = git@github.com:yko/mojo.vim.git
[submodule ".rakudobrew"]
	path = .rakudobrew
	url = git@github.com:tadzik/rakudobrew.git
[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule ".vim/bundle/vim-perl"]
	path = .vim/bundle/vim-perl
	url = git@github.com:vim-perl/vim-perl.git
[submodule ".vim/bundle/vim-perl6"]
	path = .vim/bundle/vim-perl6
	url = git@github.com:vim-perl/vim-perl6.git
[submodule ".vim/vim-go"]
	path = .vim/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "/home/ptolemarch/.vim/pack/plugins/start/vim-go"]
	path = /home/ptolemarch/.vim/pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "/home/ptolemarch/.perl5/plenv"]
	path = /home/ptolemarch/.perl5/plenv
	url = https://github.com/tokuhirom/plenv.git
